<%= page_heading "Inscription" %>

<% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @user, class: 'form-horizontal' do |f| %>
    <div class="card">
        <div class="card-header">S'inscrire</div>
      
        <!-- Name -->
        <div class="card-body">
            <%= f.label :name, "Nom d'utilisateur", class: 'card-title' %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
      
      
        <!-- Mail -->
        <div class="card-body">
            <%= f.label :mail, "Adresse mail" %>
            <%= f.email_field :mail, class: 'form-control' %>
        </div>
        
        
        <!-- Password -->
        <div class="card-body">
            <%= f.label :password, "Mot de passe" %>
            <%= f.password_field :password, class: 'form-control' %>
        </div>
        
        
        <!-- Password Confirmation -->
        <div class="card-body">
            <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        
        
        <!-- Confirmer/Annuler -->
        <div class="card-body">
          <button type="submit" class="btn btn-success">S'inscrire</button>
          <a href="<%= root_path %>" class="btn btn-danger">Annuler</a>
        </div>
        
    </div>
<% end %>
