<%= page_heading "Utilisateur" %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<div class="form-group">
    <%= link_to 'Modifier', edit_user_path(@user), class: 'btn btn-success' %>
    <%= link_to 'Retour', users_path, class: 'btn btn-primary' %>
</div>
